<h1 mat-dialog-title>{{ data.position ? "Update Element" : "Add Element" }}</h1>
<mat-dialog-content>
  <form [formGroup]="elementForm">
    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" type="number" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" type="number" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="datePicker" />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input matInput formControlName="time" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    color="primary"
    mat-button
    (click)="onSaveClick()"
    [disabled]="!elementForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
